<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Simple Soap</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="">Simple Soap</a>
      </div>
      <div class="header-link">
        <a href="">Cart</a>
        <a href="">Log in</a>
      </div>
    </header>

    <main class="main">
      <img class="banner" src="images/logo-center.jpg" alt="logo-wide.jpg" />
      <div class="button-bar">
        <button class="button blue-button">About us</button>
        <button class="button blue-button">Products</button>
        <button class="button blue-button">Gallery</button>
        <button class="button blue-button">Blog</button>
      </div>

      <h1 style="margin: auto; width: 80%; padding-left: 2rem;">
        All Produsts
      </h1>

      <div class="all-products">
        <div class="product">
          <img class="product-image" src="images/soap1.jpg" alt="soap1" />
          <h2>Soap 1</h2>
          <div>$ 45.00</div>
        </div>
        <div class="product">
          <img class="product-image" src="images/soap2.png" alt="soap2" />
          <h2>Soap 2</h2>
          <div>$ 60.00</div>
        </div>
        <div class="product">
          <img class="product-image" src="images/soap3.jpg" alt="soap3" />
          <h2>Soap 3</h2>
          <div>$ 70.00</div>
        </div>
        <div class="product">
          <img class="product-image" src="images/soap4.jpg" alt="soap4" />
          <h2>Soap 4</h2>
          <div>$ 50.00</div>
        </div>

      <div>
    </main>
    <footer class="footer">footer</footer>
  </div>

  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>