body {
  font: 1rem Helvetica;
  margin: 0;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 10rem;
  height: 100%
}


/* header */
.header {
  grid-area: header;
  background-color: PowderBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a{
  text-decoration: none;
  color: White;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.header-link a{
  text-decoration: none;
  color: White;
  font-size: 2rem;
  padding: 0.5rem;
}

.header-link a:hover{
  color: SteelBlue;
}


/* main */
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 3px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 3px;
  background-color: whitesmoke;
}

.grid {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 3px;
  padding: 3px;
  background-color: aliceblue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.heading {
  padding-left: 2rem;
  background-color: white;
}


/* product lists */
.all-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.product {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 2px;
  padding: 2px;
  background-color: beige;
}

.product > div {
  background-color: white;
  padding: 5px 10px;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


/* footer */
.footer {
  grid-area: footer;
  background-color: PowderBlue
}


/* button */
.button {
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.blue-button {
  background-color: gainsboro; 
  color: white; 
}

.blue-button:hover {
  background-color: PowderBlue;
  color: white;
}